<h2>Matrix: <%= @matrix.name %></h2>

<% minNumOptions = 0 %>

<table class="matrix" border="1px solid black" border-collapse="collapse"><%# *** Move to CSS %>
	<tr><%# Row 1: Categories 2 to N %>
		<th rowspan="2" colspan="2"></th><%# Row 1, Col 1: Blank cell %>
		<% if @matrix.categories.count == 0 %>
			<th>Add category</th>
		<% else %>
			<% @matrix.categories.each_with_index do |category, index| %>
				<% if (index != 0) && !category.nil? && !category.name.nil? %> <%# ick %>
					<% if category.options.count > 0 %>
						<% minNumOptions = category.options.count %>
					<% end %>
					<th colspan="<%= minNumOptions %>"><%# Row 1, Col 2 on: Categories %>
						<%= category.name %>
						<%= link_to '[e]', edit_matrix_category_path(@matrix, category) %>
					</th>
				<% end %>
			<% end %>
		<% end %>
	</tr>
	<tr><%# Row 2: Options for categories 2..N %>
		<% @matrix.categories.each_with_index do |category, index| %>
			<% if !category.nil? && !category.name.nil? %> <%# ick %>
				<% if category.options.length == 0 %>
					<% for index in 1..minNumOptions %>
						<th></th>
					<% end %>
				<% else %>
					<% category.options.each do |option| %>
						<th>
							<%= option.name %><br/>
							<%= link_to '[e]', 
								edit_matrix_category_option_path(@matrix, category, option) %>
						</th>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
	</tr>

	<% numCategories = @matrix.categories.count %>
	<% if numCategories == 0 %>
		<tr><th>Add category</th></tr><%# Row 3: Add category %>
	<% else %>
		<% firstCategory = @matrix.categories.first %>
		<% numOptions = firstCategory.options.count %><%#*** ick %>
		<% firstCategory.options.each_with_index do |option, optionIndex| %>
			<tr class="oddRowGroup"><%# Row 3 on: Category 1 & its 1st option %>
				<% if optionIndex == 0 %>
					<th rowspan="<%= numOptions %>"><%# Row 3, Col 1: Category 1 %>
						<%= firstCategory.name %><br/>
						<%= link_to '[e]', edit_matrix_category_path(@matrix, firstCategory) %>
					</th>
				<% end %>
				<th><%# Row 3 on, Col 2: Categor 1 options  %>
					<%= option.name %>
					<%= link_to '[e]', edit_matrix_category_option_path(@matrix, firstCategory, option) %>
				</th>
				<% for index in 1..(numCategories - 1) %>
					<% for optionIndex in 1..numOptions %>
						<% if index.odd? %>
							<td class="cell oddColumnGroup"></td>
						<% else %>
							<td class="cell evenColumnGroup"></td>
						<% end %>
					<% end %>
				<% end %>
			</tr>
		<% end %>
	<% end %>
	<% @matrix.categories.reverse.each_with_index do |category, index| %>
		<% if index == numCategories - 2 %>
			<% break %>
		<% else %>
			<% if !category.nil? && !category.name.nil? %> <%# ick %>
				<% options = category.options %>
				<% if options.length == 0 %>
					<% options = Array.new(minNumOptions) %>
				<% end %>
				<% options.each_with_index do |option, optionIndex| %>
					<%# Rest of the rows: Category 1's other options & category N to 3 & their options %>
					<% if index.odd? %>
						<tr class="oddRowGroup">
					<% else %>
						<tr class="evenRowGroup">
					<% end %>
						<% if optionIndex == 0 %>
							<th rowspan="<%= numOptions %>"><%= category.name %></th>
						<% end %>
						<th>
							<% if !option.nil? %>
								<%= option.name %>
							<% end %>
						</th>
						<% for i in 1..(numCategories - index - 2) %>
							<% for j in 1..numOptions %>
								<% if i.odd? %>
									<td class="cell oddColumnGroup"></td>
								<% else %>
									<td class="cell evenColumnGroup"></td>
								<% end %>
							<% end %>
						<% end %>
					</tr>	
				<% end %>
			<% end %>
		<% end %>
	<% end %>
</table>

<br/>

<hr/>

<h2>Categories</h2>
<%= render @matrix.categories %>

<br/>

<hr/>

<h2>Add a category</h2>
<%= render 'categories/form' %>

<hr/>

<%= link_to 'Edit Matrix', edit_matrix_path(@matrix) %> |
<%= link_to 'Back', matrices_path %>
