<p>
  <strong>Name:</strong>
  <%= @matrix.name %>
</p>
 
<!--***
<p>
  <strong>Category:</strong>
  <%= @matrix.category %>
</p>
-->

<hr/>

<h2>Categories</h2>
<%= render @matrix.categories %>

<br/>

<hr/>

<h2>Add a category</h2>
<%= render 'categories/form' %>

<hr/>

<%= link_to 'Edit', edit_matrix_path(@matrix) %> |
<%= link_to 'Back', matrices_path %>

<hr/>

<h2>Matrix</h2>

<table border="1">
	<tr>
		<th></th>
		<% isFirstCategory = true %>
		<% @matrix.categories.each do |category| %>
			<% if !isFirstCategory && !category.nil? && !category.name.nil? %> <%# ick %>
				<th><%= category.name %></th>
			<% else %>	
				<% isFirstCategory = false %>	
			<% end %>
		<% end %>
	</tr>

	<% categoryCount = @matrix.categories.count %> <%# ick %>	

	<tr>
		<th><%= @matrix.categories.first.name %></th>
		<% for i in 1..(categoryCount - 1) %>
			<td>blah</td>
		<% end %>
	</tr>

	<% @matrix.categories.reverse.each do |category| %>
		<% if categoryCount == 1 %>
			<% break %>
		<% else %>
			<% categoryCount -= 1 %>
			<% if !category.nil? && !category.name.nil? %> <%# ick %>
				<tr>
					<th><%= category.name %></th>
					<% for i in 1..categoryCount %>
						<td>blah</td>
					<% end %>
				</tr>	
			<% end %>
		<% end %>
	<% end %>
</table>
