<h2>Matrix: <%= @matrix.name %></h2>

<p><%= link_to '[ edit matrix name ]', edit_matrix_path(@matrix) %></p>

<p>Click on a cell to toggle between the following symbols: "X", "O", "X?", "O?", " "

<% 
	minNumOptions = 2 # Should be >= 2
	numCategories = @matrix.categories.count
%>

<table class="matrix" border="1px solid black" border-collapse="collapse"><%# *** Move to CSS %>

	<% if numCategories == 0 %> 
		<%# No categories %>

		<tr>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
		</tr>
		<tr>
			<th>Add 1st category below ...</th>
		</tr>

	<% else %>
		<%# > 0 categories %>

		<% 
			categories = @matrix.categories.sort_by { |category| category.created_at }
			categoriesForColumns = categories.drop(1)
			categoriesForRows = [ categories.first ].concat(categories.drop(2).reverse)
		%>

		<thead class="header">
			<%# Row 1: Column #'s for cells %>
			<tr class="header">
				<%# Blank top left corner %>
				<th colspan="3" rowspan="3" class="r0 c0">&nbsp;</th>

				<%# c# %>
				<%
					numCols = 0
					categoriesForColumns.each do |category| 
						numCols += category.options.count
						if category.options.count < minNumOptions
							numCols += minNumOptions
						end
					end
					cCount = 1			
				%>
				<% for i in 1..numCols do %>
					<th class="c<%= cCount %>">
						c<%= cCount %>
					</th>
					<% cCount += 1 %>
				<% end %>
			</tr>

			<%# Row 2: Category 2..N %>
			<tr class="header">			
				<% cCount = 0 %>
				<% categoriesForColumns.each do |category| %>
					<% 
						numCols = category.options.count < minNumOptions ? minNumOptions : category.options.count
						classes = (1..numCols).map() { |i| "c" + (cCount += 1).to_s }.join(" ")
					%>
					<th colspan="<%= numCols %>" class="<%= classes %>">
						<%= category.name %>
					</th>
				<% end %>
			</tr>
			
			<%# Row 3: Options for categories 2..N %>
			<tr class="header">
				<% cCount = 0 %>
				<% categoriesForColumns.each do |category| %>
					<% 
						options = category.options.sort_by { |option| option.created_at }
						if options.count < minNumOptions
							for i in (options.count + 1)..minNumOptions
								options.push(" ") #*** Use &nbsp;
							end
						end
					%>
					<% options.each do |option| %>
						<th class="option c<%= cCount += 1 %>">
							<%= option.is_a?(String) ? option : option.name %>
						</th>
					<% end %>
				<% end %>
			</tr>
		</thead>

		<%# Row 4 on: Category 1 & its options, then Category N-1 & its options, etc. %>
		<% 	rCount = 1 %>		
		<% categoriesForRows.each_with_index do |category, rowGroupIndex| %>
			<%
				options = category.options.sort_by { |o| o.created_at }
				if options.count < 2
					for i in 1..minNumOptions do
						options.push(" ") #*** Use &nbsp;
					end
				end
				categorySpan = options.count
			%>

			<% options.each_with_index do |option, optionIndex| %>
				<tr class="<%= rowGroupIndex.odd? ? 'oddRowGroup' : 'evenRowGroup' %>">
					<%# r# %>
					<th class="r<%= rCount %>">
						r<%= rCount %>
					</th>

					<%# Category %>
					<% if optionIndex == 0 %>
						<%
							classes = "vertical " + 
								(0..(categorySpan - 1)).map() { |i| "r" + (rCount + i).to_s }.join(" ") 
						%>
						<th class="<%= classes %>" rowspan="<%= categorySpan %>">
							<%= category.name %>
						</th>
					<% end %>
					
					<%# Option %>
					<th class="vertical option r<%= rCount %>">
						<%= option.is_a?(String) ? option : option.name %>
					</th>

					<%# Playable cells %>
					<% cCount = 1 %>
					<% categoriesForColumns.slice(0, numCategories - 1 - rowGroupIndex)
							.each_with_index do |columnCategory, columnGroupIndex| %>
						<% for i in 1..(columnCategory.options.count < minNumOptions ? minNumOptions : columnCategory.options.count) %>
							<td class="cell r<%= rCount %> c<%=cCount %> <%= columnGroupIndex.odd? ? 'oddColumnGroup' : 'evenColumnGroup' %>"
								id="r<%= rCount %>c<%= cCount %>">&nbsp;</td>
							<% cCount += 1 %>
						<% end %>
					<% end %>
					<% rCount += 1 %>
				</tr>
			<% end %>
		<% end %>
	<% end %>
</table>

<br/><br/><br/>
<hr/>


<h2>Moves</h2>

<p>Key:<br/>
	<a href="/matrices/<%= @matrix.id %>/undomoves/<MOVE_ID>">&lt;MOVE_#&gt;</a> : &lt;CELL_ID&gt; : &lt;SYMBOL&gt; <br/>
	Click on &lt;MOVE_#&gt; to undo the move and all moves after it
</p>

<table id="moves">
</table>

<script id="moves-data">
	// Moves array - [ <MOVE_ID>, <CELL_ID>, <SYMBOL> ]
	var moves = [
	<% @matrix.moves.sort_by { |m| m.created_at }.each_with_index do |move, index| %>
		[ "<%= move.id %>", "<%= move.cell %>", "<%= move.symbol %>" ],
	<% end %>
		[] ] <%#*** Ick %>
</script>

<br/><br/>
<hr/>


<h2>Add a note between moves</h2>

<div id="note">
	<label for="note">Note</label> <input type="text" name="note" id="note"> <button type="button">Add note</button>
</div>

<br/><br/><br/>
<hr/>


<h2>Categories &amp; Options</h2>
<%= render @matrix.categories.sort_by { |c| c.created_at } %>

<br/><br/>
<hr/>


<h2>Add a category</h2>
<%= render 'categories/form' %>

<br/><br/>
<hr/>


[ <%= link_to 'All matrices', matrices_path %> ]
