<h2>Matrix <%= @matrix.name %></h2>
 
<!--***
<p>
  <strong>Category:</strong>
  <%= @matrix.category %>
</p>
-->

<hr/>

<h2>Categories</h2>
<%= render @matrix.categories %>

<br/>

<hr/>

<h2>Add a category</h2>
<%= render 'categories/form' %>

<hr/>

<h2>Matrix</h2>

<table border="1">
	<tr>
		<th rowspan="2" colspan="2"></th>
		<% @matrix.categories.each_with_index do |category, index| %>
			<% if (index != 0) && !category.nil? && !category.name.nil? %> <%# ick %>
				<th colspan="<%= category.options.count %>"><%= category.name %></th>
			<% end %>
		<% end %>
	</tr>
	<tr>
		<% @matrix.categories.each_with_index do |category, index| %>
			<% if (index != 0) && !category.nil? && !category.name.nil? %> <%# ick %>
				<% category.options.each do |option| %>
					<th><%= option.name %></th>
				<% end %>
			<% end %>
		<% end %>
	</tr>

	<% numCategories = @matrix.categories.count %> <%# ick %>	
	<% numOptions = @matrix.categories.first.options.count %>
	<% firstCategory = @matrix.categories.first %>
	<% firstCategory.options.each_with_index do |option, index| %>
		<tr>
			<% if index == 0 %>
				<th rowspan="<%= numOptions %>"><%= firstCategory.name %></th>
			<% end %>
			<th><%= option.name %></th>
				<% for i in 1..((numCategories - 1) * numOptions ) %>
					<td>&nbsp;</td>
				<% end %>
			</th>
		</tr>
	<% end %>
	<% @matrix.categories.reverse.each_with_index do |category, index| %>
		<% if index == numCategories - 1 %>
			<% break %>
		<% else %>
			<% if !category.nil? && !category.name.nil? %> <%# ick %>
				<% category.options.each_with_index do |option, optionIndex| %>
					<tr>
						<% if optionIndex == 0 %>
							<th rowspan="<%= numOptions %>"><%= category.name %></th>
						<% end %>
						<th><%= option.name %></th>
						<% for i in 1..((numCategories - index - 1) * numOptions) %>
							<td>&nbsp;</td>
						<% end %>
					</tr>	
				<% end %>
			<% end %>
		<% end %>
	<% end %>
</table>

<br/>

<hr/>

<%= link_to 'Edit Matrix', edit_matrix_path(@matrix) %> |
<%= link_to 'Back', matrices_path %>
