<h2>Matrix: <%= @matrix.name %></h2>

<p><%= link_to '[ edit matrix name ]', edit_matrix_path(@matrix) %></p>

<p>Click on a cell to toggle between the following symbols: "X", "O", "X?", "O?", " "

<% 
	minNumOptions = 2 # Should be >= 2
	numCategories = @matrix.categories.count
	cellRow = 0
	cellColumn = 0
%>

<table class="matrix" border="1px solid black" border-collapse="collapse"><%# *** Move to CSS %>


	<%# No categories %>
	<% if numCategories == 0 %> 
		<tr>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
		</tr>
		<tr>
			<th>Add 1st category below ...<%# <a href="">Add 1st category</a> %></th>
		</tr>

	<% else %>
		<% categories = @matrix.categories %>

		<%# Row 0: Column #'s' for cells %>
		<tr>
			<th colspan="3" rowspan="3">&nbsp;</th>

			<% cCount = 0 %>
			<% categories.drop(1).each do |category| %>
				<% category.options.sort_by { |o| o.created_at }.each do |option| %>
					<th>c<%= cCount += 1 %></th>
				<% end %>
				<% if category.options.count < minNumOptions %>
					<% for i in (category.options.count + 1)..minNumOptions %>
						<th>c<%= cCount += 1 %></th>
					<% end %>
				<% end %>
			<% end %>			
		</tr>

		<%# Row 1: Category 2..N %>
		<tr>			
			<%# Category name %>
			<% categories.drop(1).each do |category| %>
				<th colspan="<%= category.options.count < minNumOptions ? minNumOptions : category.options.count %>">
					<%= category.name %> <%# <a href="">[e]</a> %>
				</th>
			<% end %>

			<%# "Add category" %>
			<%# <th rowspan="2"><a href="">Add category</a></th> %><%#*** add colspan? %>
		</tr>
		
		<%# Row 2: Options for categories 2..N %>
		<tr>
			<% categories.drop(1).each do |category| %>
				<% category.options.sort_by { |o| o.created_at }.each do |option| %>
					<th><%= option.name %></th>
				<% end %>
				<% if category.options.count < minNumOptions %>
					<% for i in (category.options.count + 1)..minNumOptions %>
						<th>&nbsp;</th>
					<% end %>
				<% end %>
			<% end %>
		</tr>

		<%# Row 3 on: Category 1 & it's options then Category N-1, etc. %>
		<% 	
			categoriesForRows = [ @matrix.categories.first ].concat(@matrix.categories.drop(2).reverse)
			rCount = 0
		%>
		<% categoriesForRows.each_with_index do |category, rowGroupIndex| %>
			<%
				options = category.options.sort_by { |o| o.created_at }
				categorySpan = options.count < 2 ? minNumOptions : options.count
				cellRow += 1
				cellColumn = 0
			%>

			<%# Category name, first option, & cells %>			
			<tr class="<%= rowGroupIndex.odd? ? 'oddRowGroup' : 'evenRowGroup' %>">
				<th>r<%= rCount += 1 %></th>
				<th class="vertical" rowspan="<%= categorySpan %>"><%= category.name %> <%# <a href="">[e]</a> %></th>
				<% if options.count == 0 %>
					<th>&nbsp;</th>
				<% else %>
					<th class="vertical"><%= options.first.name %></th>
				<% end %>
				<% categories.slice(1, numCategories - 1 - rowGroupIndex).each_with_index do |columnCategory, columnGroupIndex| %>
					<% for i in 1..(columnCategory.options.count < minNumOptions ? minNumOptions : columnCategory.options.count) %>
						<td class="cell <%= columnGroupIndex.odd? ? 'oddColumnGroup' : 'evenColumnGroup' %>"
							id="r<%= cellRow %>c<%= cellColumn += 1 %>">
							&nbsp;
						</td>
					<% end %>
				<% end %>
			</tr>

			<%# Rest of the options & cells %>
			<% if options.count < 2 %><%#*** ? %>
				<% for i in 1..(minNumOptions - 1) %>
					<%
						cellRow += 1
						cellColumn = 0
					%>
					<%#*** Move below into a fragment %>
					<tr class="<%= rowGroupIndex.odd? ? 'oddRowGroup' : 'evenRowGroup' %>">
						<th>r<%= rCount += 1 %></th>
						<th>&nbsp;</th>
						<% categories.slice(1, numCategories - 1 - rowGroupIndex).each_with_index do |columnCategory, columnGroupIndex| %>
							<% for i in 1..(columnCategory.options.count < minNumOptions ? minNumOptions : columnCategory.options.count) %>
								<td class="cell <%= columnGroupIndex.odd? ? 'oddColumnGroup' : 'evenColumnGroup' %>"
									id="r<%= cellRow %>c<%= cellColumn += 1 %>">
									&nbsp;
								</td>
							<% end %>
						<% end %>						
					</tr>
					<%#*** Move above into a fragment %>
				<% end %>
			<% else %>
				<% options.drop(1).each do |option| %>
					<%
						cellRow += 1
						cellColumn = 0
					%>
					<tr class="<%= rowGroupIndex.odd? ? 'oddRowGroup' : 'evenRowGroup' %>">
						<th>r<%= rCount += 1 %></th>
						<th class="vertical"><%= option.name %></th>
						<% categories.slice(1, numCategories - 1 - rowGroupIndex).each_with_index do |columnCategory, columnGroupIndex| %>
							<% for i in 1..(columnCategory.options.count < minNumOptions ? minNumOptions : columnCategory.options.count) %>
								<td  class="cell <%= columnGroupIndex.odd? ? 'oddColumnGroup' : 'evenColumnGroup' %>"
									id="r<%= cellRow %>c<%= cellColumn += 1 %>">
									&nbsp;
								</td>
							<% end %>
						<% end %>						
					</tr>
				<% end %>
			<% end %>
		<% end %>
	<% end %>
</table>

<br/><br/><br/>
<hr/>


<h2>Moves</h2>

<p>Key: [ &lt;CELL_ID&gt; : &lt;SYMBOL&gt; ]</p>

<div id="moves">
	<div>
	<% @matrix.moves.sort_by { |m| m.created_at }.each_with_index do |move, index| %>
	    <span>[ <%= move.cell %> : <%= move.symbol %> ]</span>
	    <% if ((index + 1) % 10) == 0 %>
	    	</div><div>
    	<% end %>
	<% end %>
	</div>
</div>	

<br/><br/>
<hr/>

<% if false %>
<h2>Add a move</h2>

<%= form_for([@matrix, @matrix.moves.build]) do |f| %>
  <p>
    <%= f.label :cell %> <%= f.text_field :cell %>
    <%= f.label :symbol %> <%= f.text_field :symbol %>
    <%= f.submit %>
  </p>
<% end %>

<br/><br/><br/>
<hr/>
<% end %>

<h2>Categories &amp; Options</h2>
<%= render @matrix.categories %>

<br/><br/>
<hr/>


<h2>Add a category</h2>
<%= render 'categories/form' %>

<br/><br/>
<hr/>


[ <%= link_to 'All matrices', matrices_path %> ]
