<h2>Matrix: <%= @matrix.name %></h2>

<% 
	minNumOptions = 2 
	numCategories = @matrix.categories.count
%>

<table class="matrix" border="1px solid black" border-collapse="collapse"><%# *** Move to CSS %>


	<%# No categories %>
	<% if numCategories == 0 %> 
		<tr>
			<th>&nbsp;</th>
			<th>...</th>
		</tr>
		<tr>
			<th><a href="">Add 1st category</a></th>
		</tr>

	<%# Only 1 category %>	
	<% elsif numCategories == 1 %> 
		<tr><%# Row 1: Add category %>
			<th colspan="2" rowspan="2">&nbsp;</th>
			<th colspan="<%= minNumOptions %>"><a href="">Add 2nd category</a></th>
		</tr>		
		<tr><%# Row 2: Empty options %>
			<% for i in 1..minNumOptions %>
				<th>&nbsp;</th>
			<% end %>
		</tr>
		<% firstCategory = @matrix.categories.first %>
		<tr><%# Row 3 %>			
			<th rowspan="<%= minNumOptions%>"><%= firstCategory.name %><a href="">[e]</a></th>
			<% if firstCategory.options.count == 0 %>
				<th><a href="">Add option</a></th>
			<% else %>
				<th><%= firstCategory.options.first.name %></th>
			<% end %>
		</tr>
		<% options = firstCategory.options %>
		<% if options.count== 0 %>
			<% for i in 2..minNumOptions %>
				<tr class="oddRowGroup">
					<th>&nbsp;</th>
				</tr>
			<% end %>
		<% else %>
			<% for optionIndex in 1..(options.count - 1) %>
				<tr class="oddRowGroup"><%# Row 4 on %>	
					<th><%= firstCategory.options[optionIndex].name %></th>
				</tr>
			<% end %>
		<% end %>

	<%# >1 category %>
	<% elsif numCategories > 1 %> 
		<% categories = @matrix.categories %>

		<tr><%# Row 1: Category 2..N %>
			<th colspan="2" rowspan="2">&nbsp;</th>
			<% categories.drop(1).each do |category| %>
				<th colspan="<%= category.options.count == 0 ? minNumOptions : category.options.count %>">
					<%= category.name %> <a href="">[e]</a>
				</th>
			<% end %>
			<th rowspan="2"><a href="">Add category</a></th>			
		</tr>

		<%# Row 2: Options for categories 2..N %>
		<tr>
			<% categories.drop(1).each do |category| %>
				<% if category.options.count == 0 %>
					<% for i in 1..minNumOptions %>
						<th>&nbsp;</th>
					<% end %>
				<% else %>
					<% category.options.each do |option| %>
						<th><%= option.name %></th>
					<% end %>
				<% end %>
			<% end %>
		</tr>

		<%# Row 3 on: Category 1 & it's options then Category N-1, etc. %>
		<% 	categoriesForRows = [ @matrix.categories.first ].concat(@matrix.categories.drop(2).reverse) %>
		<% categoriesForRows.each_with_index do |category, rowGroupIndex| %>
			<%
				options = category.options 
				categorySpan = options.count < 2 ? minNumOptions : options.count
			%>

			<%# Category name & 1st option %>
			<tr class="<%= rowGroupIndex.odd? ? 'oddRowGroup' : 'evenRowGroup' %>">
				<th rowspan="<%= categorySpan %>"><%= category.name %> <a href="">[e]</a></th>
				<% if options.count == 0 %>
					<th>&nbsp;</th>
				<% else %>
					<th><%= options.first.name %></th>
				<% end %>
				<% categories.slice(1, numCategories - 1 - rowGroupIndex).each_with_index do |columnCategory, columnGroupIndex| %>
					<% numCells = columnCategory.options.count == 0 ? minNumOptions : columnCategory.options.count %>
					<% for i in 1..numCells %>
						<td class="<%= columnGroupIndex.odd? ? 'oddColumnGroup' : 'evenColumnGroup' %>">
							<%= columnCategory.name %>
						</td>
					<% end %>
				<% end %>
			</tr>

			<%# Rest of the options %>
			<% if options.count < 2 %>
				<% for i in 1..(minNumOptions - 1) %>
					<tr class="<%= rowGroupIndex.odd? ? 'oddRowGroup' : 'evenRowGroup' %>">
						<th>&nbsp;</th>
						<% categories.slice(1, numCategories - 1 - rowGroupIndex).each_with_index do |columnCategory, columnGroupIndex| %>
							<% numCells = columnCategory.options.count == 0 ? minNumOptions : columnCategory.options.count %>
							<% for i in 1..numCells %>
								<td class="<%= columnGroupIndex.odd? ? 'oddColumnGroup' : 'evenColumnGroup' %>">
									<%= columnCategory.name %>
								</td>
							<% end %>
						<% end %>						
					</tr>
				<% end %>
			<% else %>
				<% options.drop(1).each do |option| %>
					<tr class="<%= rowGroupIndex.odd? ? 'oddRowGroup' : 'evenRowGroup' %>">
						<th><%= option.name %></th>
						<% categories.slice(1, numCategories - 1 - rowGroupIndex).each_with_index do |columnCategory, columnGroupIndex| %>
							<% numCells = columnCategory.options.count == 0 ? minNumOptions : columnCategory.options.count %>
							<% for i in 1..numCells %>
								<td  class="<%= columnGroupIndex.odd? ? 'oddColumnGroup' : 'evenColumnGroup' %>">
									<%= columnCategory.name %>
								</td>
							<% end %>
						<% end %>						
					</tr>
				<% end %>
			<% end %>
		<% end %>
	<% end %>
</table>

<br/>

<hr/>

<h2>Categories</h2>
<%= render @matrix.categories %>

<br/>

<hr/>

<h2>Add a category</h2>
<%= render 'categories/form' %>

<hr/>

<%= link_to 'Edit Matrix', edit_matrix_path(@matrix) %> |
<%= link_to 'Back', matrices_path %>
