<p>
  <strong>Name:</strong>
  <%= @matrix.name %>
</p>
 
<!--***
<p>
  <strong>Category:</strong>
  <%= @matrix.category %>
</p>
-->

<hr/>

<h2>Categories</h2>
<%= render @matrix.categories %>

<br/>

<hr/>

<h2>Add a category</h2>
<%= render 'categories/form' %>

<hr/>

<%= link_to 'Edit', edit_matrix_path(@matrix) %> |
<%= link_to 'Back', matrices_path %>

<hr/>

<h2>Matrix</h2>

<table border="1">
	<tr>
		<th></th>
		<% @matrix.categories.each do |category| %>
			<th><%= category.name %></th>
		<% end %>
	</tr>
</table>
