<h1>Edit Category</h1>

<%= form_for :category, 
			url: matrix_category_path(@matrix, @category),
			method: :patch do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', matrix_category_path %>