<h2>Category: <%= @category.name %></h2>

<hr/>

<h2>Options</h2>
<%= render @category.options %>
<br/>

<hr/>

<h2>Add an option</h2>
<%= form_for([@matrix, @category, @category.options.build]) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit %> <%# Update Category button should be Add Option? %>
  </p>
<% end %>

<hr/>

<%= link_to 'Edit Category', edit_matrix_category_path(@category.matrix, @category) %> |
<% link_text = "Show Matrix " + @matrix.name %>
<%= link_to link_text, matrix_path(@matrix) %>


