<h2>Category: <%= @category.name %></h2>

<%= link_to '[ edit name ]', edit_matrix_category_path(@category.matrix, @category) %>

<hr/>

<h2>Options</h2>
<%= render @category.options.sort_by { |o| o.created_at } %>
<br/>

<hr/>

<h2>Add an option</h2>
<%= form_for([@matrix, @category, @category.options.build]) do |f| %>
  <p>
    <%= f.label :name %> <%= f.text_field :name %>
    <%= f.submit "Add option" %>
  </p>
<% end %>

<br/><br/>
<hr/>

<% link_text = "[ Show matrix " + @matrix.name + " ]" %>
<%= link_to link_text, matrix_path(@matrix) %>


